spring:
  application:
    name: appointment-service

  h2:
    console:
      enabled: true

  datasource:
    url: jdbc:h2:mem:appointmentSchema
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update

server:
  port: 9090
